#trapezoid {
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
  margin: auto;
}


#stage {
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100px;
  width: 700px;
  margin: auto;
  margin-bottom: 20px;

}


#vipsection{
  width: 100%;
  height: auto;
  background: #ccc;
  margin-bottom: 20px;
}

#gasection{
  width: 100%;
  height: auto;
  background: #ccc;
}

#bordercontainer {
  border-left: 1px solid black;
}

table{
  width: 100%;
}

table tr{
  background: transparent;

}

.seat {
  height: 49px;
  width: 49px;
  background: #fff;
  border: 1px solid #000;
  display: inline-block;
  margin: 10px;
}

.reserved{
  background: red;
}

span{
  font-size:10px;
  color: #fff;
}

.hidden {
  display: none;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.report {
  border: none;
}

.report th, .report td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.report > thead > tr:first-child > th:first-child {
  background-color: white;
}

.report tr > th:last-child, .report tr > td:last-child {
  border-right: none;
}

.report tbody tr:last-child td, .report tbody tr:last-child th {
  border-bottom: none;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  text-align: center;
}