#trapezoid {
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
  margin: auto;
}


#stage {
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100px;
  width: 700px;
  margin: auto;
  margin-bottom: 20px;

}


#vipsection{
  width: 100%;
  height: auto;
  background: #ccc;
  margin-bottom: 20px;
}

#gasection{
  width: 100%;
  height: auto;
  background: #ccc;
}

table{
  width: 100%;
}

table tr{
  background: transparent;

}

.seat {
  height: 49px;
  width: 49px;
  background: #fff;
  border: 1px solid #000;
  display: inline-block;
  margin: 10px;
}

.reserved{
  background: red;
}

span{
  font-size:10px;
  color: #fff;
}