.row
  .small-12.columns
    %h1 Concert Tickets
.row
  .small-4.columns
    %select
      %option.gasection{value: '#gasection'} General Admission
      %option.vipsection{value: '#vipsection'} VIP Section
  .small-2.columns
    %input#numOfSeats{type: 'text', placeholder: '35'}
  .small-2.columns
    %input#priceOfSeats{type: 'text', placeholder: '$100.00'}
  .small-4.columns
    %input#createSection.button.radius.small{type: 'button', value: 'Create Section'}
.row
  .small-12.columns
    %input#name{type: 'text', placeholder: 'customer name'}
.row
  .small-12.columns
    #stage
      %h4 Stage
.row
  .small-12.columns
    #vipsection
.row
  .small-12.columns
    #gasection
.row
  .small-6.columns
    %h5 Ticketing Report
    %table#stats
      %ul
        %li Total VIP Sales:
        %li Total GA Sales:
        %li Grand Total:
        %li Total VIP Reserved:
        %li Total GA Reserved
        %li Total Reserved:

  .small-6.columns
    %h5 VIP Seating List
    %table#vipList
      %tr
        %th Seat Number
        %th Name
    %h5 General Admission Seating List
    %table#gaList
      %tr
        %th Seat Number
        %th Name

